:root {
  --primary-color: #0c5e67;
  --secondary-color: #bcdcd9;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 0;
  }
}

.hero {
  background: var(--secondary-color);
  padding: 10vmax 5vmin 9vmax;
}

.content-container {
  padding: 8vmax 5vmin 5vmin;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.button {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.solid-button {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.solid-button:hover {
  color: var(--secondary-color);
}

.transparent-button {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.transparent-button:hover {
  color: black;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.nav-active-style {
  color: var(--primary-color) !important;
}
